/*  your css code here. If applicable */
#animal-photos{
	background-color:#444444;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#photo-heading{
	color:#D9D9D9;
}
#photo-container{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(3,1fr);
	gap:10px;
}
